.product-preview-card {
  &__title {
    font-size: 50px;
    font-style: bold;
    color: blue;
  }

  &__description {
    font-size: 40px;
    color: green;
  }

  &__image {
    width: 10rem;
  }
}
